<template name="Footer">
    <nav class="footer-nav">
        <ul class="footer-nav-ul mx-auto no-select">
            <a class="a-nav-footer a-nav-home {{isActiveRoute regex='home'}}" href="/home"><i class="fa fa-home"></i><span>Home</span></a>
            <a class="a-nav-footer a-nav-planner {{isActiveRoute regex='categories|search'}}" href="/categories"><i class="fas fa-search"></i><span>Search</span></a>
            <a class="a-nav-footer a-nav-shlist {{isActiveRoute 'create-recipe'}}" href="/create-recipe"><i class="fas fa-plus-circle"></i><span>Create</span></a>
            <a class="a-nav-footer a-nav-shlist {{isActiveRoute 'shopping-list'}}" href="/shopping-list"><i class="fas fa-tasks"></i><span>Shoplist</span></a>
            <a class="a-nav-footer a-nav-profile {{isActiveRoute regex='profile|inbox'}} {{#if currentUser}}{{#if Template.subscriptionsReady}}{{#if getNotice}}notice{{/if}}{{/if}}{{/if}}" href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
        </ul>
    </nav>

</template>
