<!-- <template name="HomeLayout">
    <header>
        <h1>My Recipe Book</h1>
        {{> loginButtons}}
    </header>
    <main>
        <div class="billboard">
            <h2>Organize your Meals</h2>
        </div>
    </main>
</template> -->

<template name="MainLayout">
    <div class="main-body-wrapper">
        {{#if isRegExEqual getRoute 'create-recipe'}}
            {{> SecondaryNav}}
        {{/if}}
        {{#if isRegExEqual getRoute 'profile|inbox'}}
            {{> ProfileNav}}
        {{/if}}
        {{> Template.dynamic template=content}}
        {{> Footer}}
    </div>
</template>